<h1>Service Provider</h1>
<p>A response has been received from the Identity Provider.</p>
<% if @response_valid %>
<h2>Hurrah!!!</h2>
<p>You have successfully authenticated as <%= @saml.name_id %></p>
<% else %>
<h2>Whoops</h2>
<p>Something went wrong</p>
<% end %>

<p><%= link_to 'Do it again', root_path %>

<h2>Received response</h2>
<%= content_tag('pre', prettify(@request_data)) %>
